*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
# Ignore all module-specific build directories
**/build/

# VS Code settings
.vscode/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
/app/release/
/app/debug/
